@import "tailwindcss";

body {
    font-family: 'Supreme LL TT', sans-serif;

    font-family: 'Supreme LL TT', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
}

@font-face {
    font-family: 'Supreme LL TT';
    src: url('/fonts/SupremeLLTT-Light.woff2') format('woff2'),
        url('/fonts/SupremeLLTT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme LL TT Book';
    src: url('/fonts/SupremeLLTT-Book.woff2') format('woff2'),
        url('/fonts/SupremeLLTT-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme LL TT';
    src: url('/fonts/SupremeLLTT-Medium.woff2') format('woff2'),
        url('/fonts/SupremeLLTT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme LL TT';
    src: url('/fonts/SupremeLLTT-Bold.woff2') format('woff2'),
        url('/fonts/SupremeLLTT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme LL TT';
    src: url('/fonts/SupremeLLTT-Black.woff2') format('woff2'),
        url('/fonts/SupremeLLTT-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme LL TT';
    src: url('/fonts/SupremeLLTT-Regular.woff2') format('woff2'),
        url('/fonts/SupremeLLTT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supreme LL TT';
    src: url('/fonts/SupremeLLTT-Thin.woff2') format('woff2'),
        url('/fonts/SupremeLLTT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@layer utilities {
    /* Custom Colors */
    .bg-primary {
        background-color: #F0F0F0; /* Gray-500 */
    }

    .bg-secondary {
        background-color: #D7D2CB; /* Black */
    }
    
    .text-primary {
        color: #F0F0F0; /* Gray-500 */
    }

    .text-secondary {
        color: #D7D2CB; /* Black */
    }   

    .bg-tertiary {
        background-color: #1D252D;
    }


    
    /* Custom Typography Styles */
    
    .text-h1 {
        font-family: 'Supreme LL TT', sans-serif;
        font-weight: 900;
        font-size: 12vw;
        line-height: 11.5vw;
        letter-spacing: -0.03em;
    }
    
    .text-h2 {
        font-family: 'Supreme LL TT', sans-serif;
        font-weight: 900;
        font-size: 9vw;
        line-height: 9.7vw;
        letter-spacing: -0.04em;
    }
    
    .text-h3 {
        font-family: 'Supreme LL TT', sans-serif;
        font-weight: 900;
        font-size: 163.17px;
        line-height: 142.33px;
        letter-spacing: -0.03em;
    }
    
    .text-h4 {
        font-family: 'Supreme LL TT', sans-serif;
        font-weight: 900;
        font-size: 89.04px;
        line-height: 90px;
        letter-spacing: 0em;
    }
    
    .text-h5 {
        font-family: 'Supreme LL TT', sans-serif;
        font-weight: 900;
        font-size: 100.28px;
        line-height: 87.47px;
        letter-spacing: -0.02em;
    }
    
    .text-h6 {
        font-family: 'Supreme LL TT', sans-serif;
        font-weight: 900;
        font-size: 61px;
        line-height: 60px;
        letter-spacing: -0.02em;
    }
    
    .text-h7 {
        font-family: 'Supreme LL TT', sans-serif;
        font-weight: 900;
        font-size: 35.25px;
        line-height: 42.3px;
        letter-spacing: 0.01em;
    }
    
    .text-p2 {
        font-family: 'Supreme LL TT', sans-serif;
        font-weight: 400;
        font-size: 22.76px;
        line-height: 31.48px;
        letter-spacing: 0.02em;
    }

    .text-p3 {
        font-family: Supreme LL TT;
        font-weight: 400;
        font-style: Regular;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0%;        
    }

    .text-hyphenate {
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
    }
}
